#item_image{
    width: 85%;
    height: 500px;
    margin: auto;
    margin:50px 100px;
}
.item_description{
    margin:0 100px;
    margin-bottom: 100px;
    margin: 0%;
    padding: 0%;
}
#links{
   
    margin-top: 30px;
    margin-left: 0%;
    padding-left: 0%;
    padding-bottom: 10px;
    border-bottom: 1px solid #636f88;
}
.description_links{
    display: inline;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 1.3em;
    color: crimson;
    font-weight: 700;
    margin-right: 30px;
    margin-left: 0;
    cursor: pointer;
    
}
.description_links:hover{
    text-decoration: none;
    outline: none;
    color: rgba(220, 20, 87, 0.739);
}
.item_name{
    color: #192f60;
}

#contact_info,#overview_info{
  margin-top: 20px;
  margin-bottom: 150px;
}
b{
    color: #192f60;
}
p{
    color: #636f88;
}
p#phn{
    color:#f67082;
}
h5#place{
    font-size: 1.6em;
    font-weight: bold;
    color: #192f60;
    margin-bottom: 50px;
    margin-top: 15px;
}
#item_type,#cost,#address_header{
    font-size: 1.4em;
    color: #192f60;
    font-weight: 700;
}
#item_type_list,#cost_details,#address{
    font-size: 1.2em;
    font-weight: 600;
}









@media screen and (min-width:250px){
    #item_image{
        width: 100%;
        height: auto;
        margin:0;
        margin-top: 10px;
    }
    .item_description{
        margin-left:10px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 100px;
        font-size: .8em;
    }
    .item_name{
        font-size: 1.9em;
        font-weight: bolder;
    }
   
    #overview_link ,#contact_link{
        font-size: 1em;
        font-weight: bold;
    }
    .item_info{
        margin-top: 0px;
    }
}
@media screen and (min-width:500px){
    #item_image{
        width: 100%;
        height: auto;
        margin:0;
        margin-top: 30px;
    }
    .item_description{
        margin:0 80px;
        margin-bottom: 100px;

    }
    .item_name{
        font-size: 2em;
        font-weight: bolder;
        margin-top: 20px;
    }
    #overview_link ,#contact_link{
        font-size: 1.3em;
    }
}
@media screen and (min-width:900px){
    #item_image{
        width:auto;
        height: 500px;
        margin: auto;
        width: 80%;
        margin:50px 100px;
    }
    .item_description{
        margin:0 100px;
    }
    #contact_info{
        font-size: 1.3em;
    }
}
@media screen and (min-width:1200px){
    #item_image{
        
        width: 85%;
        margin:50px 100px;
    }

}